*{
  height: 100%;
  font-family: "Press Start 2P";
}

  body {
    background: linear-gradient(#000, #383154);
    justify-content: center;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: auto;
  }
  
  /* DIV GO BACK */
  
  header {
    text-align: center;
    font-size: 5em;
    margin: 50px auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* CONTENT */
  
  .content {
    box-shadow: 0 3px 5px 0 rgb(148, 111, 61),0 2px 10px 0 rgb(148, 111, 61);
    background-color: rgba(34, 141, 255, 0.315);
    color: #FF9900;
    padding: 35px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 120px;
    width: 50%;
    margin: auto;
  }
  
  /* HOVER NAMES in CONTENT */

  h1:hover a {
    color: rgba(255, 255, 255, 0.815);
  }
  
  /* KEYFRAMES COLORS HEADER and NEON */
    
  header:nth-child(1) a {
    color: rgb(12, 118, 231);
    font-family: "Press Start 2P";
    font-size: 0.8em;
  }
    
  header:nth-child(1) a:hover {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
    
  header a:hover {
    color: #0c08fc7e;
  }
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
      }
      to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }    
    
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
      }
      to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
      
  }
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
      }
      to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  /* HEADER RESPONSIVE */
    
  @media (max-width: 650px) {
    header {
    font-size: 3.5em;
    }
  }
