*{
  transition: 0.3s;
}

body {
  background-color: #3b404e;
  justify-content: center;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#imgCookie 
{
  width: 100px;
  height: 100px;
}
#cookieRdm
{
  position: absolute;
}
.main {
    display: grid;
    width: 790px;
    height: 520px;
    grid-template-columns: 170px 1fr 1fr;
    grid-template-rows: 80px 0.5fr 2.3fr 60px;
    grid-gap: 1rem;
    margin: auto;
    grid-template-areas:
    "check score score"
    "check cps cps"
    "check click click"
    "bonus bonus bonus"
    "total total total"
  }
  
.content{
    display: grid;
    width: 790px;
    height: 450px;
    grid-template-columns: 170px 1fr 1fr;
    grid-template-rows: 80px 0.5fr 2.3fr 60px;
    grid-gap: 0.5rem;
    margin: auto;
    grid-template-areas:
    "check score score"
    "check cps cps"
    "check click click"
  }
  .score {
    grid-area: score;
    border: 2px solid #171717;
    
    
    
  }
  
  .cps {
    grid-area: cps;
    height: 70%;
    width: 50%;
    margin: auto;
    border: 2px solid #171717;
    
    
  }
  
  .click {
    grid-area: click;
  }
  
  .click {
    grid-area: click;
    margin: auto;
  }
  
  .click:active {
  transform: scale(1.2);
  }
  
  img{
  width:280px;
  height:280px;
  }
  
.bonus {
    grid-area: bonus;
  }
  
.total {
    grid-area: total;
    grid-row: 5 / 5;
    grid-column: 2/4;
    width: 40%;
    margin-left: 59.5%;
    margin-top:1%;
    border: 2px solid #171717;


  }
   
.item {
   
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
  }
  
.item.check{
    display: grid;
    grid-column: auto;
    grid-area: check;
    border: 2px solid #171717;


  }
.item.bonus{
  justify-content: space-evenly;
  text-align: center;
  line-height: 55px;
  height: 120%;
  border: 2px solid #171717;


}
  
#checkB1{
    background: #3b404e;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b404e;
    border: 2px solid #171717;
    font: bold;
    
}

#checkB2{
  background: #3b404e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #171717;
  font: bold;
}

#checkB3{
  background: #3b404e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b404e;
  border: 2px solid #171717;
  font: bold;
}
#checkB4{
  background: #3b404e;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b404e;
  border: 2px solid #171717;
  font: bold;
}
#B1{
  background: #b8afaf;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom:2%;
}
#B2{
  background: #E4B9A1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom:2%;
}
#B3{
  background: #A1BBE4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom:2%;

}
#B4{
  background: #E4CEA1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom:2%;

}
